ENVIRONMENT=development
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=graduate_monitor

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET_KEY=supersecretkey_for_course_project_64chars_min_change_in_prod
ACCESS_TOKEN_EXPIRE_MINUTES=30